table, th, td {
    border: 4px solid black;
    border-collapse: collapse;
   
}
th, td {
    padding: 0px;
}

  @media (max-width: 500px) {
    article {
      flex-direction: column;
    }
  }